[submodule "inertial-sense-sdk"]
	path = ros2_ws/src/inertial-sense-sdk
	url = https://github.com/inertialsense/inertial-sense-sdk
	branch = main
[submodule "gtest"]
	path = lib/gtest
	url = https://github.com/google/googletest
	branch = main
[submodule "yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
	branch = master
